<div class="row">
    <div class="portlet light form-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-game-controller font-blue-steel"></i>
                <span class="caption-subject bold font-blue-steel uppercase"> Rock Paper and Scissor </span>
                <span class="caption-helper">Information about developer and the solution implemented.</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="space-lateral">
                <div class="row margin-bottom-20 stories-cont">

                    <div class="col-md-12 col-lg-8">
                        <div class="portlet light">
                            <div class="row">
                                <h3>About Technology</h3>
                                <div>
                                    <img src="../assets/global/img/mean.png" align="left" width="160px">
                                    <p align=justify>
                                    <h4>What is MEAN.JS?</h4>
                                    MEAN.JS is a full-stack JavaScript solution that helps you build fast, robust, and maintainable production web applications using MongoDB, Express, AngularJS, and Node.js.
                                    <h4>Why MEAN.JS?</h4>
                                    I use MEAN.JS because help me to create and maintain a simple and open-source solution, also, is easy to use and it provides me a back-end and front-end with the same programming languaje.
                                    <h4>Why Mongoose?</h4>
                                    Also, I use mongoose in this project for create model to each collection of the database, it provides me methods of insertion, edition and deleting of data, all this in a simple and ordered form.
                                    <h4>Why Bootstrap?</h4>
                                    I use Bootstrap for the front-end, because is easy to use, and a fast form to create a friendly UI.
                                    <h4>Why Scalingo?</h4>
                                    I use scalingo for application hoster because it work perfectly with MEANJS, its easy to use and its free for a month.
                                    </p>
                                </div>
                                <br>
                                <h3>Solution Implemented</h3>
                                <div>
                                    <p align=justify>
                                    The structure of the championship is equal to a binary tree, each duel is formed by 2 players with their respective strategy, the winner of each duel moves to the next key and so on until a player wins.
                                    <br>
                                    <br>
                                    Determinate the winner of a championship has many validations, first is necesary validate than the structure will be equal to binary tree, this mean that all player participates in exactly one match per round, also, is necesary validate the strategy of each player of the tournament, if strategy is diferent to R-P-S then throw an exception.
                                    If all structure is valid, all duels are played and then obtains the winner of the champioship. The result is stored in the database for have register of all winners and second position of the championships, all this with the purpose to get a TOP of best players.
                                    </p>
                                    <a target="_blank" href="https://github.com/kennethPerez/Rock-Paper-Scissors" class="btn"><span class="fa fa-github"></span> View Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-4">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="../assets/global/img/me.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="title">
                                <span> Kenneth Alonso Pérez Alfaro </span>
                            </div>
                            <div class="desc">
                                <p align=justify>
                                    I'm 21 years old and I'm from Santa Isabel, Rio Cuarto, Grecia, Alajuela. Actually I'm a Computer Engineering student at Tecnológico de Costa Rica in Santa Clara, San Carlos. In the second semester of 2016 I will be ready for work in  my professional practice.
                                    In my academic life, I consider me a good student, I learn quickly and I like this area of technology, specifically the software development, because in this work I can create new solutions to problems, I like innovate and always be informed about new technologies, I prefer development web with Javascript tecnologies than other developments, however, I don't have problems with other technologies.
                                    In the personal life, I'm a person that I like to work in group, and help to others people, I consider me a kindly and friendly person, I like to meet new people, also, I'm a person honest, responsible and respectful. In my free time I like stay with my family, and talk with my friends, I like to play soccer, watch movies and play videogames.
                                </p>
                            </div>
                            <div class="m-heading-1 m-bordered border-blue-steel">
                                <h4>Follow me</h4>
                                <a target="_blank" href="https://www.facebook.com/kenneth.perez.75" class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                                <a target="_blank" href="https://www.linkedin.com/in/kenneth-p%C3%A9rez-alfaro-030207100" class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                                <a target="_blank" href="https://github.com/kennethPerez" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a>
                                <br>
                                <h4>Or contact me</h4>
                                <p><span class="fa fa-envelope-o"></span>&nbsp;&nbsp;kenn.perez@gmail.com</p>
                                <br>
                                <a target="_blank" href="https://github.com/kennethPerez/Rock-Paper-Scissors" class="btn"><span class="fa fa-github"></span> View Source Code</a>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
